/* menu responsive */

.menu-icon{
    display: none;
    position: relative;
    z-index: 10;
}

/* responsive - 960px*/

@media (max-width: 960px) {


/* menu */

.menu-icon {
     display: block;
<<<<<<< HEAD
     margin: 10px;
=======
>>>>>>> 7f3d34091ba5f01dd9579db80a8c7dd764f7c30a
}
 
.menu {
    position: fixed;
    background: var(--orange);
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 0.3s;
    flex-direction: column;
    justify-content: center;

}

.menu li {
    font-size: 20px;
    font-weight: bold;
<<<<<<< HEAD
    margin: 10px 0;
=======
    margin: 20px 0;
>>>>>>> 7f3d34091ba5f01dd9579db80a8c7dd764f7c30a
}

.menu.active {
    left: 0;
}

/* end menu */

/* main */

main .container{
    width: 100%;
    flex-direction: column;
}

main .container .main-img{
    width: 100%;
    text-align: center;
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

main .container .main-text h1{
    font-size: 4rem;
}

main .container .main-text h2{
    text-align: center;
}

main .container .main-text{
    width: 100%;
    margin: 100px 0;
    text-align: center;
}

main .container .main-text div{
    justify-content: center;
}

<<<<<<< HEAD


/* diferences */

.diferences .container-cards{
    flex-direction: column;
    width: 80%;

}

.diferences .container-cards .home-text{
=======
/* end main */

/* results 

.results .container{
    flex-direction: column;
}

.results .results-text, 
.results .results-number{
    width: 100%;
    text-align: center;
}

.results .results-number{
    margin-top: 30px;
}

*/

/* diferences */

.diferences .container{
    flex-direction: column;
}

.diferences .title-container{
>>>>>>> 7f3d34091ba5f01dd9579db80a8c7dd764f7c30a
    text-align: center;

}

.diferences .card{
    width: 100%;
}

/* end diferences */

/* home */

.home .container{
    flex-direction: column-reverse;
}

.home .home-text{
    width: 100%;
    text-align: center;
    padding: 0;
}

.home .home-text p b{
    align-items: center;
    text-align: center;
}

.home .img-home{
    width: 100%;
}

/* end home */

/* places */

.places .card-places{
    flex-direction: column;

}

.places .card-places .card-items{
    width: 100%;
    margin-top: 20px;
}

.places .container .title-places{
    text-align: center;
}

.places .container h2{
    text-align: center;
}

/* end places */

/* newslestter */

.newslestter .box-newslestter{
    padding: 50px;
}

.newslestter .box-newslestter h2{
    font-size: 2rem;
}

.newslestter .box-newsletter input{
    width: 90%;
    margin: 20px;
}

.newslestter .box-newslestter button{
    width: 50%;
    margin-top: 20px;
}

/* end newslestter */

/* footer */

 footer .container{
    flex-direction: column;

 }

 footer .container ul{
    width: 100%;
    margin-bottom: 30px;
 }

}



/* responsive - 440px */

@media (max-width: 440px) {

    /* main */

    .logo a{
        font-size: 20px;
    }

<<<<<<< HEAD
=======
    .results .results-number{
        flex-direction: column;
    }

>>>>>>> 7f3d34091ba5f01dd9579db80a8c7dd764f7c30a
    main .container .main-text{
        width: 100%;
        margin: 100px 0;
        text-align: center;
    }
    

    main .container .main-text h1{
        font-size: 3rem;
    }

    main .container .main-img{
        display: none;
    }

    /* end main */

    /* home */

    .home .container .home-text h2{
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        text-align: center; /* Centraliza o texto dentro do elemento */
    }

    .home .container .home-text p{
        align-items: center;
        margin-top: 30px;

    }

    .home .img-home{
        width: 100%;
    }

    /* end home */

}